* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

body {
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";

}

header {
    width: 90%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    height: 13vh;
    background-color: #FFFF;
    border-bottom: 1px solid;
}

header #logo {
    width: 20vw;
    height: 10vh;
    margin: 1.5vh 0;
    color: aquamarine;
    font-family: 'Sacramento', cursive;
}

header #logo h1 {
    font-size: 1.6vw;
    font-weight:700;
    text-align: center;
    line-height: 10vh;
}

header nav {
    width: 35vw;
    height: 5vh;
    margin: 4vh 0;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

header nav ul li {
    width: 100%;
    text-align: center;
    font-weight: 700;
}


footer {
    width: 80%;
    padding: 2vh 10%;
    display: flex;
    justify-content: space-around;
    background-color:#f5f5f5;
    margin: 0 auto;
    height: 15vh;
}

footer #logo {
    width: 20vw;
    height: 10vh;
    margin: 1.5vh 0;
    color: aquamarine;
    font-family: 'Sacramento', cursive;
}

footer nav ul {
    display: flex;
    width: 35vw;
    justify-content: space-around;
    list-style: none;
    height: 5vh;
    line-height: 5vh;
}

footer nav ul li {
    width: calc(35vw / 4);
    text-align: center;
    font-size: 1.1vw;
    font-weight: 600;
}

footer nav ul li a {
    width: 100%;
    display: block;
    height: 100%;
    margin: 2.5vh auto;
}