main {
    min-height: 67vh;
}

main article #search {
    width: 45vw;
    height: 5vh;
    display: flex;
    margin: 1vh auto;
    justify-content: space-around;
}

main article #search input {
    display: block;
    width: 40vw;
    font-size: 1.1vw;
}

main article #search button {
    width: 5vw;
}

main article .now_project {
    width: 90%;
    margin: 0 auto;
    padding: 5vh 0;
}

main article .now_project .section_title {
    text-align: center;
    font-size: 1.8vw;
    display: block;
    height: 5vh;
    line-height: 5vh;
    margin: 3vh 0;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
} 

main article .now_project .project_row {
    width: 100%;
    justify-content: space-around;
    display: flex;
    margin: 6vh 0;
}

main article .now_project .project_row .project {
    height: 53vh;
    width: 18vw;
    background-color: #FFFF;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 2px 2px 0.5vw gray;
    position: relative;
}

main article .now_project .project_row .project .project_select {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    top: 0;
    left: 0;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s;
}

main article .now_project .project_row .project .project_select:hover {
    background-color: rgba(105,105,105,0.5);
}

main article .now_project .project_row .project .project_image {
    height:28vh;
    width: 100%;
    
}

main article .now_project .project_row .project .project_image img {
    display: block;
    max-width: 100%;
    height: 100%;
}

main article .now_project .project_row .project .company {
    height: 3vh;
    font-size: 0.8vw;
    line-height: 3vh;
    color: blue;
    margin: 0.5vh 0;
}

main article .now_project .project_row .project .tag {

}

main article .now_project .project_row .project .tag button {
   background-color: aqua;
    /* display: block; */
    height: 3vh;
    padding: 0 1%;
    border: none;
    border-radius: 5px;
    font-size: 0.8vw;
}

main article .now_project .project_row .project .project_title {
    width: 100%;
    font-size: 0.9vw;
    height: 6vh;
    margin: 1vh 0;
    line-height: 3vh;
    display:block;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    text-overflow: ellipsis;
    max-height: 100%;
}

main article .now_project .project_row .project .bar {
    width: 100%;
    height: 3vh;
    margin: 0 auto;
}

main article .now_project .project_row .project .bar .bar_back {
    width: 100%;
    height: 1vh;
    background-color: antiquewhite;
    border-radius: 0.5vh;
    margin: 0.25vh 0;
}

main article .now_project .project_row .project .bar .bar_back .bar_save {
    /* width: 80%; */
    background-color: greenyellow;
    height: 100%;
    border-radius: 0.5vh;
}

main article .now_project .project_row .project .bar h3 {
    height: 1.5vh;
    text-align: center;
    font-size: 0.9vw;
}

main article .now_project .project_row .project .project_detail {
    height: 4vh;
    display: flex;
}

main article .now_project .project_row .project .project_detail div {
    width: 100%;
    text-align: center;
}

main article .now_project .project_row .project .project_detail div h3 {
    font-size: 1.0vw;
    font-weight: 600;
    line-height: 2vh;
}

main article .now_project .project_row .project .project_detail div h4 {
    font-size: 0.9vw;
    font-weight: 300;
}


.none_project {
    text-align: center;
    font-size: 1.5vw;
    color: gray;
    margin-top: 5vh;
}