{% extends "base.html" %}

{% block title %}企画制作{% endblock %}

{% block css %}
<link rel="stylesheet" href="static/css/new_project.css">
{% endblock %}

{% block main %}
<main>
    <article>
        <form action="/new_project" enctype="multipart/form-data" method="post">
            <section class="new_project" id="new_project" >
                
                    <h1>
                        プロジェクト名を入力してください
                    </h1>
                    <input type="text" id="project_nameInput" name="project_name">
                    <h1>目標金額を入力してください</h1>
                    <input type="number" id="goalAmountInput" name="goal">
                    <h1>終了日を入力してください</h1>
                    <input type="date" id="endDateInput" name="end_date">
                    <h1>トップ画像を選択してください</h1>
                    <input type="file" id="top_imgInput" name="top_file">
                    <h1>サブ画像を入力してください</h1>
                    <input type="file" class="sub_imgInput" name="sub_file"><input type="file" class="sub_imgInput" name="sub_file"><input type="file" class="sub_imgInput" name="sub_file"><input type="file" class="sub_imgInput" name="sub_file">
                    <h1>商品詳細</h1>
                    <button>文</button>
                    <button>画像</button>
                
            </section>
            <h1>サイトのプレビュー</h1>
            <h1 class="project_title"></h1>
            <section class="img_section">
                <div class="img">
                    <div class="top_img">
                        <img id="topImage" src="" alt="">
                    </div>
                    <ul>
                        <li class="sub_img"><img src="static/" alt="" class="subImage"></li>
                        <li class="sub_img"><img src="static/" alt="" class="subImage"></li>
                        <li class="sub_img"><img src="static/" alt="" class="subImage"></li>
                        <li class="sub_img"><img src="static/" alt="" class="subImage"></li>
                    </ul>
                </div>
                <div class="detail">
                    <h3>現在の支援総額</h3>
                    <h1><i class="fa-solid fa-yen-sign"></i>0</h1>
                    <h3 class="objective"><span class="objective">目標金額</span><span id="goalAmount"><i class="fa-solid fa-yen-sign"></i>0</span></h3>
                    <h3><i class="fa-solid fa-user"></i>支援者数</h3>
                    <h1>0人</h1>
                    <h3><i class="fa-solid fa-clock"></i>募集終了まで</h3>
                    <h1 id="endDate">39日</h1>
                </div>
            </section>
            <button type="submit" >登録</button>
        </form>
    </article>
</main>
{% endblock %}

{% block javascript %}
<script src="static/js/new_project.js"></script>
{% endblock %}