{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}">
{% endblock %}

{% block title %}projectページ{% endblock %}

{% block main %}
<main>
    <article>
        <h1 class="project_title">{{ project_data.1 }}</h1>
        <section class="img_section">
            <div class="img">
                <div class="top_img">
                    <img src="{{ url_for('static', filename='images/project_img/' + project_data.4) }}" alt="">
                </div>
                <ul>
                    <li class="sub_img"><img src="{{ url_for('static', filename='images/project_img/' + project_data.5)  }}" alt=""></li>
                    <li class="sub_img"><img src="{{ url_for('static', filename='images/project_img/' + project_data.6)  }}" alt=""></li>
                    <li class="sub_img"><img src="{{ url_for('static', filename='images/project_img/' + project_data.7)  }}" alt=""></li>
                    <li class="sub_img"><img src="{{ url_for('static', filename='images/project_img/' + project_data.8)  }}" alt=""></li>
                </ul>
            </div>
            <div class="detail">
                <h3>現在の支援総額</h3>
                <h1><i class="fa-solid fa-yen-sign"></i>{{ project_data.10 }}</h1>
                <h3 class="objective"><span class="objective">目標金額</span><span><i class="fa-solid fa-yen-sign"></i>30000000</span></h3>
                <h3><i class="fa-solid fa-user"></i>支援者数</h3>
                <h1>{{ project_data.11 }}人</h1>
                <h3><i class="fa-solid fa-clock"></i>募集終了まで</h3>
                <h1>{{ time_limit }}日</h1>
                <button><a href="/return_select/{{ project_data.0 }}">支援する</a></button>
            </div>
        </section>
        <!-- imgやpを一つの行として術つなぎの様に順番に並べていけば神？ -->
        <section class="detail_section">
            {% for detail in detail_data %}
                {% if detail.2 == "img" %}
                    <div class="detail_img">
                        <img src="{{ url_for ('static', filename='images/project_img/' + detail.3) }}" alt="">
                    </div>
                {% else %}
                    <div class="detail_text">
                        <p>{{ detail.3 }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </section>
    </article>
</main>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/project.js') }}"></script>
{% endblock %}