{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="static/css/project.css">
{% endblock %}

{% block title %}projectページ{% endblock %}

{% block main %}
<main>
    <article>
        <h1 class="project_title">【1台多役】ハリケーン級の強風＆吸引と圧倒的高級感。2wayコンパクトクリーナー</h1>
        <section class="img_section">
            <div class="img">
                <div class="top_img">
                    <img src="static/images/1.avif" alt="">
                </div>
                <ul>
                    <li class="sub_img"><img src="static/images/1.avif" alt=""></li>
                    <li class="sub_img"><img src="static/images/1.avif" alt=""></li>
                    <li class="sub_img"><img src="static/images/1.avif" alt=""></li>
                    <li class="sub_img"><img src="static/images/1.avif" alt=""></li>
                </ul>
            </div>
            <div class="detail">
                <h3>現在の支援総額</h3>
                <h1><i class="fa-solid fa-yen-sign"></i>2000000</h1>
                <h3 class="objective"><span class="objective">目標金額</span><span><i class="fa-solid fa-yen-sign"></i>30000000</span></h3>
                <h3><i class="fa-solid fa-user"></i>支援者数</h3>
                <h1>230人</h1>
                <h3><i class="fa-solid fa-clock"></i>募集終了まで</h3>
                <h1>39日</h1>
            </div>
        </section>
        imgやpを一つの行として術つなぎの様に順番に並べていけば神？
    </article>
</main>
{% endblock %}

{% block javascript %}

{% endblock %}