<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/sign_up.css">
    <title>ログイン</title>
</head>
<body>
    <form method="POST" action="/sign_up">
        <h1>FUNDLIVE</h1>
        <div class="input_form">
            <h2>ユーザー名</h2>
            <input type="text" name="user_name">
            <h2>メールアドレス</h2>
            {% if error %}
                <h3>{{ error }}</h3>
            {% endif %}
            <input type="email" name="email">
            <h2>パスワード</h2>
            <input type="password" name="password">
        </div>
        <div class="button_form">
            <button type="submit">登録</button>
        </div>
    </form>
    
    
</body>
</html>