{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/support.css') }}">
{% endblock %}

{% block title %}
支援
{% endblock %}

{% block main %}
<main>
    <article>
        <form action="">
            <section id="input">
                <h1>リターンの選択</h1>
                <label>
                    <div class="price">
                        <input type="checkbox" name="return_select" id="plan">
                        <h2>3000円</h2>
                    </div>
                    <div class="detail">
                        <p>【10名様限定！特別価格／10%off】 直径26cmと標準的サイズ感の掛け時計です。カラーは「陽光」「木陰」「夜空」「月光」から1点お選びいただけます。 MYSTIC WORKSのめっきによる特別な仕上げの掛け時計です。CAMPFIRE限定、通常価格より10%offの特別価格でお届けします</p>
                        <div class="return_img">
                            <img src="{{ url_for('static', filename='images/project_img/1.avif') }}" alt="">
                        </div>
                    </div>
                </label>
                <label>
                    <div class="price">
                        <input type="checkbox" name="return_select" id="plan">
                        <h2>3000円</h2>
                    </div>
                    <div class="detail">
                        <p>【10名様限定！特別価格／10%off】 直径26cmと標準的サイズ感の掛け時計です。カラーは「陽光」「木陰」「夜空」「月光」から1点お選びいただけます。 MYSTIC WORKSのめっきによる特別な仕上げの掛け時計です。CAMPFIRE限定、通常価格より10%offの特別価格でお届けします</p>
                        <div class="return_img">
                            <img src="{{ url_for('static', filename='images/project_img/1.avif') }}" alt="">
                        </div>
                    </div>
                </label>
                <label>
                    <div class="price">
                        <input type="checkbox" name="return_select" id="plan">
                        <h2>3000円</h2>
                    </div>
                    <div class="detail">
                        <p>【10名様限定！特別価格／10%off】 直径26cmと標準的サイズ感の掛け時計です。カラーは「陽光」「木陰」「夜空」「月光」から1点お選びいただけます。 MYSTIC WORKSのめっきによる特別な仕上げの掛け時計です。CAMPFIRE限定、通常価格より10%offの特別価格でお届けします</p>
                        <div class="return_img">
                            <img src="{{ url_for('static', filename='images/project_img/1.avif') }}" alt="">
                        </div>
                    </div>
                </label>
                <label>
                    <div class="price">
                        <input type="checkbox" name="return_select" id="plan">
                        <h2>3000円</h2>
                    </div>
                    <div class="detail">
                        <p>【10名様限定！特別価格／10%off】 直径26cmと標準的サイズ感の掛け時計です。カラーは「陽光」「木陰」「夜空」「月光」から1点お選びいただけます。 MYSTIC WORKSのめっきによる特別な仕上げの掛け時計です。CAMPFIRE限定、通常価格より10%offの特別価格でお届けします</p>
                        <div class="return_img">
                            <img src="{{ url_for('static', filename='images/project_img/1.avif') }}" alt="">
                        </div>
                    </div>
                </label>
                <label>
                    <div class="price">
                        <input type="checkbox" name="return_select" id="plan">
                        <h2>3000円</h2>
                    </div>
                    <div class="detail">
                        <p>【10名様限定！特別価格／10%off】 直径26cmと標準的サイズ感の掛け時計です。カラーは「陽光」「木陰」「夜空」「月光」から1点お選びいただけます。 MYSTIC WORKSのめっきによる特別な仕上げの掛け時計です。CAMPFIRE限定、通常価格より10%offの特別価格でお届けします</p>
                        <div class="return_img">
                            <img src="{{ url_for('static', filename='images/project_img/1.avif') }}" alt="">
                        </div>
                    </div>
                </label>
                
            </section>
            <section id="cheack">

            </section>
        </form>
    </article>
</main>
{% endblock %}