{% extends "base.html" %}

{% block title %}トップページ{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
<link rel="stylesheet" href="static/css/top.css">
{% endblock %}

{% block main %}
<main>
    <article>
        <section class="preview">
            <div class="slider">
                <div><img src="./img/headerImg/img1.jpg" alt=""  class="div_img"></div>
                <div><img src="./img/headerImg/img2.jpg" alt=""  class="div_img"></div>
                <div><img src="./img/headerImg/img3.jpg" alt="" class="div_img"></div>
                <div><img src="./img/headerImg/img5.jpg" alt="" class="div_img"></div>
                <div><img src="./img/headerImg/img6.jpg" alt="" class="div_img"></div>
            </div>
        </section>
        <section class="now_project">
            <h2 class="section_title">あなたのプロジェクト</h2>
            <div class="project_row">
                <div class="project">
                    <div class="project_image">
                        <img src="static/images/1.avif" alt="">
                    </div>
                    <div class="company">
                        <h3>株式会社るらりゆ</h3>
                    </div>
                    <div class="tag">
                        <p><i class="fa-solid fa-tag"></i><button>環境</button></p>
                    </div>
                    <div class="bar">
                        <div class="bar_back">
                            <div class="bar_save"></div>
                        </div>
                        <h3>80%</h3>
                    </div>
                    <div class="project_title">
                        <h3>革新的な100%生分解性エコバッグ</h3>
                    </div>
                    
                    <div class="project_detail">
                        <div class="now_money">
                            <h4>金額</h4>
                            <h3>￥20000</h3>
                        </div>
                        <div class="people">
                            <h4>人数</h4>
                            <h3>273人</h3>
                        </div>
                        <div>
                            <h4>日数</h4>
                            <h3>34日</h3>
                        </div>
                    </div>
                    
                    
                </div>
                
                <!-- 目標金額を分割してその金額まででできることをライブするさいとにする -->
            </div>
        </section>
        <section class="now_project">
            <h2 class="section_title">注目のプロジェクト</h2>
            <div class="project_row">
                <div class="project">
                    <div class="project_image">
                        <img src="static/images/1.avif" alt="">
                    </div>
                    <div class="company">
                        <h3>株式会社るらりゆ</h3>
                    </div>
                    <div class="tag">
                        <p><i class="fa-solid fa-tag"></i><button>環境</button></p>
                    </div>
                    <div class="bar">
                        <div class="bar_back">
                            <div class="bar_save"></div>
                        </div>
                        <h3>80%</h3>
                    </div>
                    <div class="project_title">
                        <h3>革新的な100%生分解性エコバッグ</h3>
                    </div>
                    
                    <div class="project_detail">
                        <div class="now_money">
                            <h4>金額</h4>
                            <h3>￥20000</h3>
                        </div>
                        <div class="people">
                            <h4>人数</h4>
                            <h3>273人</h3>
                        </div>
                        <div>
                            <h4>日数</h4>
                            <h3>34日</h3>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="project">
                    <div class="project_image">
                        <img src="static/images/4.avif" alt="">
                    </div>
                    <div class="company">
                        <h3>株式会社るらりゆ</h3>
                    </div>
                    <div class="tag">
                        <p><i class="fa-solid fa-tag"></i><button>環境</button></p>
                    </div>
                    <div class="bar">
                        <div class="bar_back">
                            <div class="bar_save"></div>
                        </div>
                        <h3>80%</h3>
                    </div>
                    <div class="project_title">
                        <h3>革新的な100%生分解性エコバッグ</h3>
                    </div>
                    
                    <div class="project_detail">
                        <div class="now_money">
                            <h4>金額</h4>
                            <h3>￥20000</h3>
                        </div>
                        <div class="people">
                            <h4>人数</h4>
                            <h3>273人</h3>
                        </div>
                        <div>
                            <h4>日数</h4>
                            <h3>34日</h3>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="project">
                    <div class="project_image">
                        <img src="static/images/2.avif" alt="">
                    </div>
                    <div class="company">
                        <h3>株式会社るらりゆ</h3>
                    </div>
                    <div class="tag">
                        <p><i class="fa-solid fa-tag"></i><button>環境</button></p>
                    </div>
                    <div class="bar">
                        <div class="bar_back">
                            <div class="bar_save"></div>
                        </div>
                        <h3>80%</h3>
                    </div>
                    <div class="project_title">
                        <h3>革新的な100%生分解性エコバッグ</h3>
                    </div>
                    
                    <div class="project_detail">
                        <div class="now_money">
                            <h4>金額</h4>
                            <h3>￥20000</h3>
                        </div>
                        <div class="people">
                            <h4>人数</h4>
                            <h3>273人</h3>
                        </div>
                        <div>
                            <h4>日数</h4>
                            <h3>34日</h3>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="project">
                    <div class="project_image">
                        <img src="static/images/3.avif" alt="">
                    </div>
                    <div class="company">
                        <h3>株式会社るらりゆ</h3>
                    </div>
                    <div class="tag">
                        <p><i class="fa-solid fa-tag"></i><button>環境</button></p>
                    </div>
                    <div class="bar">
                        <div class="bar_back">
                            <div class="bar_save"></div>
                        </div>
                        <h3>80%</h3>
                    </div>
                    <div class="project_title">
                        <h3>革新的な100%生分解性エコバッグ</h3>
                    </div>
                    
                    <div class="project_detail">
                        <div class="now_money">
                            <h4>金額</h4>
                            <h3>￥20000</h3>
                        </div>
                        <div class="people">
                            <h4>人数</h4>
                            <h3>273人</h3>
                        </div>
                        <div>
                            <h4>日数</h4>
                            <h3>34日</h3>
                        </div>
                    </div>
                    
                    
                </div>
                <!-- 目標金額を分割してその金額まででできることをライブするさいとにする -->
            </div>
        </section>
    </article>
</main>
{% endblock %}

{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="static/js/slick.js"></script>
{% endblock %}